* {
    box-sizing: border-box;
}
html, 
body {
    background-color: getColor(background);
    margin: 0;
    font-family: $font-primary;
    color: #000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    flex: 1 0 auto;
}
